.container {
  max-width: 500px;
  margin: 40px auto;
  padding: 0 20px;
}

.title {
  text-align: center;
  margin-bottom: 30px;
  color: #053582;
}

.form {
  padding: 20px;
  border: 1px solid #000000;
  border-radius: 8px;
  background-color: #c2d9e85d;
}

.input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box; 
}



.button {
  width: 100%;
  padding: 12px;
  background-color: #7a93e6;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.button:hover {
  background-color: #1f034e;
}